<header class="header-container">
  <h1>{{ title }}</h1>
  <div class="header-description">
    <div><b>Crypto World</b></div>
    <div>is your all-in-one platform for navigating</div>
    <div>the exciting and fast-moving world of cryptocurrency.</div>
    <div class="image-container">
      <div>Whether you're new to crypto or an experienced trader, we offer a wide range of tools and resources to support your journey—from real-time price tracking to educational guides and more. </div>
      <div><img height="165" width="165" src="/assets/deng-xiang-rVHIqG9tTOE-unsplash.jpg" /></div>
      <div class="align-right">What sets us apart is our built-in AI chatbot, available 24/7 to answer your questions, explain complex crypto concepts, and help you make informed decisions.</div>
    </div>
    <div>At Crypto World, we’re committed to making digital finance</div>
    <div>simple, accessible, and personalized— so you can</div>
    <div>explore and invest with confidence.</div>
  </div>
</header>
