<ng-container>
  <div class="pricing-search-container">
    <h2>Cryptocurrency Search</h2>
    <div>
      <label>Token id: </label>
      <input
        placeholder="search by token id"
        type="number"
        [(ngModel)]="tokenId"
      />
      <button
        type="submit"
        (click)="findPrice($event)"
      >
        Submit
      </button>
    </div>
  </div>
  <div class="pricing-results-container">
    <div class="pricing-result">
      <h3>Top 3 Cryptocurrencies</h3>
      <li *ngFor="let cryptocurrency of cryptocurrencies; index as i; trackBy: trackByFn">
        {{ cryptocurrency.name + '/' + cryptocurrency.symbol + ' - ' + (cryptocurrency.price | currency) }}
      </li>
    </div>
    <div class="pricing-result">
      <h3>Search Results</h3>
      <p *ngIf="cryptocurrenciesSearchedFor.length === 0">No results found</p>
      <li *ngFor="let cryptocurrency of cryptocurrenciesSearchedFor; index as i; trackBy: trackByFn">
        {{ cryptocurrency.name + '/' + cryptocurrency.symbol + ' - ' + (cryptocurrency.price | currency) }}
      </li>
    </div>
  </div>
</ng-container>
