@use '../../../variables' as var;

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

.pricing-search-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.pricing-results-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;

  .pricing-result {
    width: 50%;

    .remove {
      font-weight: 600;
      cursor: pointer;
      color: var.$orange;
    }
  }
}